@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

.info-box-wrapper{
   
    background-color: aquamarine;
    padding: 10px;
    width: 200px;
}

.blob{
  /* background: radial-gradient(circle, 
                            #FFC78A 0%, 
                            #F87306 32%, 
                            #3C096C 96%); */
  background: conic-gradient( #3C096C, #3C096C , #3C096C );

  animation: spin 10s linear infinite;
}

.blob-outer-container{
  /* filter: blur(50px); */
}
.blob-mini{
      background: radial-gradient(circle, 
                            #FFC78A 0%, 
                            #F87306 32%, 
                            #3C096C 96%);
}


@keyframes spin{
  0%{
      transform: rotate(0deg) scale(2) ;
  }100%{
    transform: rotate(1turn) scale(2);
  }
}

.bgs{
   animation: spinBg 4s infinite;
}



.gradient-text {
  background: linear-gradient(to right, #4B1485, #D6ABFE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}